// Definición de la paleta de colores
$negro: #000000
$negro-claro: #0c1a25
$blanco: #FFFFFF
$blanco-gris: #fdfdfb
$azul-oscuro: #1E3A8A
$gris-oscuro: #4B5563
$azul-claro: #93C5FD
$gris-claro: #D1D5DB
$azul-suave: #60A5FA

// Estilos del header
.header-title
    user-select: none
    font-size: 24px
    font-weight: bold
    color: $blanco-gris // Aplicamos el color azul grisáceo claro al título
    letter-spacing: 1px // Aumenta la separación entre letras
    @media (max-width: 800px)
        font-size: 14px // Reduce el tamaño del texto en pantallas pequeñas

.spacer
    flex: 1 1 auto

mat-toolbar
    padding: 0 10px
    background-image: linear-gradient(to right, $negro-claro, $gris-oscuro) // Aplicamos un degradado de azul oscuro a azul claro
    width: 100% // Asegúrate de que la barra ocupe el ancho total
    height: 8vh

a
    font-size: 16px
    font-weight: bold
    font-family: sans-serif
    text-decoration: none
    color: $blanco
    padding: 10px
    background: radial-gradient(circle at 50% 25%, transparent 20%, rgba(96,165,250, 1) 21%, rgba(96,165,250, 1) 34%, transparent 35%, transparent), radial-gradient(circle at 0% 25%, transparent 20%, rgba(30,58,138, 0.5) 21%, rgba(30,58,138, 0.5) 34%, transparent 35%, transparent) 0 -50px
    background-color: rgba(0, 0, 0, 0)
    background-position-y: 0%, -50px
    background-repeat: repeat, repeat
    background-size: auto, auto
    background-clip: border-box, border-box
    background-color: #fff
    background-size: 75px 100px
    -webkit-background-clip: text
    background-clip: text
    background-repeat: repeat-x
    background-position-y: -2em
    -webkit-transition: background-position-y 0.6s ease
    transition: background-position-y 0.6s ease
    -webkit-animation: curvyAnimation 3s linear infinite
    animation: curvyAnimation 3s linear infinite
    animation-play-state: running
    -webkit-animation-play-state: paused
    animation-play-state: paused
    cursor: pointer

a:hover
    color: transparent
    background-position-y: 0%, -50px
    -webkit-animation-play-state: running
    animation-play-state: running

@keyframes curvyAnimation
  100%
    background-position-x: 150%
