$negro: #000000
$negro-claro: #0c1a25
$blanco: #FFFFFF
$blanco-gris: #fdfdfb
$azul-oscuro: #1E3A8A
$gris-oscuro: #4B5563
$azul-claro: #93C5FD
$gris-claro: #D1D5DB
$azul-suave: #60A5FA

#certifications
    background-color: $azul-suave
    color: $blanco
    padding: 5px 20px
    text-align: center
    user-select: none

    h2
        font-size: 24px
        font-weight: bold
        color: $negro
        text-transform: uppercase

    .certification-grid
        justify-content: center

    .certification-item
        background-color: transparent
        border: none
        box-shadow: none
    
    mat-card
        border: none
        box-shadow: none
        background-color: transparent
        width: 70%
        padding: 0

        mat-card-header
            padding: 0
            display: block

        .icon-container
            background-color: $azul-suave

            img
                color: $blanco
        
        mat-card-subtitle
            font-size: 20px
            font-weight: bold

        .text-content
            p
                font-size: 18px
                font-family: 'Open Sans Condensed', sans-serif
                color: rgba($blanco, 0.8)
                text-align: center
                line-height: 1.5
                margin: 0

.curved
  position: relative
  background: $azul-suave
  height: 10vh
  border-bottom-left-radius: 50% 80%
  border-bottom-right-radius: 50% 80%
