$negro: #000000
$negro-claro: #0c1a25
$blanco: #FFFFFF
$blanco-gris: #fdfdfb
$azul-oscuro: #1E3A8A
$gris-oscuro: #4B5563
$azul-claro: #93C5FD
$gris-claro: #D1D5DB
$azul-suave: #60A5FA

mat-grid-list
    border-top-left-radius: 0
    border-top-right-radius: 0
    border-bottom-right-radius: 10px
    width: 100%
    margin: 16px 0
    background-color: $negro-claro

mat-card
    width: 70%
    height: 70%
    opacity: 0
    transform: translateY(30px)
    transition: opacity 0.5s ease, transform 0.5s ease

@keyframes fadeInUp
    from
        opacity: 0
        transform: translateY(30px) // Mueve la tarjeta hacia abajo
    to
        opacity: 1
        transform: translateY(0)

.card-visible
    animation: fadeInUp 1s forwards
