@import '../../styles/colors.sass'

#experience
  background-color: $negro-claro
  padding: 2rem
  user-select: none
  height: 100vh
  mat-grid-list
    width: 100%
    margin: 0 auto   

mat-card
    background-color: $blanco
    border-radius: 0.5rem
    padding: 1rem
    opacity: 0
    transform: translateY(1.875rem)
    transition: opacity 0.5s ease, transform 0.5s ease

@keyframes fadeInLeft
    from
        opacity: 0
        transform: translateX(6.25rem)
    to
        opacity: 1
        transform: translateX(0)

@-webkit-keyframes fadeInLeft
    from
        opacity: 0
        transform: translateX(6.25rem)
    to
        opacity: 1
        transform: translateX(0)

@keyframes fadeInRight
    from
        opacity: 0
        transform: translateX(-6.25rem)
    to
        opacity: 1
        transform: translateX(0)

@-webkit-keyframes fadeInRight
    from
        opacity: 0
        transform: translateX(-6.25rem)
    to
        opacity: 1
        transform: translateX(0)

@keyframes fadeInUp
    from
        opacity: 0
        transform: translateY(6.25rem)
    to
        opacity: 1
        transform: translateY(0)

@-webkit-keyframes fadeInUp
    from
        opacity: 0
        transform: translateY(6.25rem)
    to
        opacity: 1
        transform: translateY(0)
        

mat-card-title
    font-size: 1.5rem
    color: $azul-oscuro
    font-weight: bold

mat-card-subtitle
    font-size: 1rem
    color: $gris-oscuro
    padding: 0.313rem 1rem 0

mat-card-content p
    font-size: 1rem
    color: $negro
    line-height: 1.5
    margin-bottom: 1rem

.card-visible-left
    -webkit-animation: fadeInLeft 1s forwards
    animation: fadeInLeft 1s forwards

.card-visible-right
    -webkit-animation: fadeInRight 1s forwards
    animation: fadeInRight 1s forwards

.tech-icons
    display: flex
    justify-content: start
    gap: 1rem
    padding: 1rem 1rem 0
    justify-content: center
    img
        width: 2rem
        height: 2rem
        transition: transform 0.2s ease-in-out
        &:hover
            transform: scale(1.2)

@media (max-width: 800px)
    #experience
        height: auto

    mat-grid-tile
        display: flex
    
    mat-card
        height: auto
        padding-bottom: 1rem
    
    mat-card-title
        font-size: 1.25rem

    .card-visible-left
        -webkit-animation: fadeInUp 1s forwards
        animation: fadeInUp 1s forwards
    
    .card-visible-right
        -webkit-animation: fadeInUp 1s forwards
        animation: fadeInUp 1s forwards

@media (max-width: 420px)
    #experience
        height: auto

    mat-grid-tile
        display: flex
    
    mat-card
        height: auto
        padding-bottom: 0.875rem

    mat-card-header
        padding-top: 0
    
    mat-card-title
        font-size: 0.875rem
    
    mat-card-subtitle
        font-size: 0.75rem
    
    mat-card-content p
        font-size: 0.625rem

    .tech-icons img
        width: 1.5rem
        height: 1.5rem


    .card-visible-left
        -webkit-animation: fadeInUp 1s forwards
        animation: fadeInUp 1s forwards
    
    .card-visible-right
        -webkit-animation: fadeInUp 1s forwards
        animation: fadeInUp 1s forwards
