$negro: #000000
$negro-claro: #0c1a25
$blanco: #FFFFFF
$blanco-gris: #fdfdfb
$azul-oscuro: #1E3A8A
$gris-oscuro: #4B5563
$azul-claro: #93C5FD
$gris-claro: #D1D5DB
$azul-suave: #60A5FA

#experience
  background-color: $negro-claro
  padding: 2rem
  mat-grid-list
    width: 100%
    margin: 0 auto   

mat-card
    height: 80%
    background-color: $blanco
    border-radius: 8px
    padding: 1rem
    opacity: 0
    transform: translateY(30px)
    transition: opacity 0.5s ease, transform 0.5s ease

@keyframes fadeInLeft
    from
        opacity: 0
        transform: translateX(100px)
    to
        opacity: 1
        transform: translateX(0)

@keyframes fadeInRight
    from
        opacity: 0
        transform: translateX(-100px)
    to
        opacity: 1
        transform: translateX(0)

mat-card-title
    font-size: 1.5rem
    color: $azul-oscuro
    font-weight: bold

mat-card-subtitle
    font-size: 1rem
    color: $gris-oscuro
    padding: 5px 16px 0

mat-card-content p
    font-size: 1rem
    color: $negro
    line-height: 1.5
    margin-bottom: 1rem

.card-visible-left
    animation: fadeInLeft 1s forwards

.card-visible-right
    animation: fadeInRight 1s forwards

.tech-icons
    display: flex
    justify-content: start
    gap: 1rem
    padding: 16px 16px 0
    justify-content: center
    img
        width: 32px
        height: 32px
        transition: transform 0.2s ease-in-out
        &:hover
            transform: scale(1.2)
