@import '../styles/colors.sass'

.scroll-to-top
    position: fixed
    bottom: 20px
    right: 20px
    background-color: transparent
    border-radius: 50%
    border: 2px solid $blanco
    transition: background-color 0.3s, color 0.3s
    padding: 10px
    z-index: 1000
    cursor: pointer
    color: $blanco
    &:hover
        box-shadow: 0 0 5px 0 $blanco
        background-color: $blanco
        color: $negro
