<mat-card>
    <mat-card-header>
        <div class="profile-header">
            <img src="assets/img/profile.jpg" class="profile-image">
            <div class="profile-text">
                <!-- <mat-card-title class="profile-title">Martín Echeverría</mat-card-title> -->
                <mat-card-subtitle class="profile-role">Desarrollador Frontend SSR</mat-card-subtitle>


                <p>
                    Soy una persona que busca crecer continuamente, aprendo rápido y me adapto muy bien a los cambios.
                    Soy
                    comunicativo, con muy buen trato personal y trabajo en equipo.
                </p>
                <mat-card-subtitle class="profile-fortalezas">
                    Fortalezas
                </mat-card-subtitle>
                <ul>
                    <li><mat-icon>code</mat-icon>Learner</li>
                    <li><mat-icon>accessible</mat-icon>Responsibility</li>
                    <li><mat-icon>alarm</mat-icon>Focus</li>
                    <li><mat-icon>android</mat-icon>Achiever</li>
                    <li><mat-icon>android</mat-icon>Futuristic</li>
                </ul>
            </div>

        </div>
    </mat-card-header>
    <mat-card-actions>
        <button mat-button color="primary">Ver CV</button>
    </mat-card-actions>
</mat-card>