<mat-card>
    <mat-card-header>
        <div class="profile-header">
            <img src="assets/img/profile3.png" class="profile-image">
            <div class="profile-text">
                <img src="assets/img/logo.svg" class="profile-image-logo">
                <mat-card-subtitle class="profile-role">{{role}}</mat-card-subtitle>
                <mat-card-subtitle class="profile-strengths">
                    {{profile_strengths?.title}}
                </mat-card-subtitle>
                <ul>
                    <li id="strengths1" matTooltip="{{profile_strengths?.strengths_learner.tooltip}}"
                        matTooltipPosition="below" aria-label="Learner" appTouchTooltip>
                        <mat-icon>school</mat-icon>{{profile_strengths?.strengths_learner.title}}
                    </li>
                    <li id="strengths2" matTooltip="{{profile_strengths?.strengths_responsibility.tooltip}}"
                        matTooltipPosition="below" aria-label="Responsibility" appTouchTooltip>
                        <mat-icon>verified_user</mat-icon>{{profile_strengths?.strengths_responsibility.title}}
                    </li>
                    <li id="strengths3" matTooltip="{{profile_strengths?.strengths_focus.tooltip}}"
                        matTooltipPosition="below" aria-label="Focus" appTouchTooltip>
                        <mat-icon>center_focus_strong</mat-icon>{{profile_strengths?.strengths_focus.title}}
                    </li>
                    <li id="strengths4" matTooltip="{{profile_strengths?.strengths_achiever.tooltip}}"
                        matTooltipPosition="below" aria-label="Achiever" appTouchTooltip>
                        <mat-icon>check_circle</mat-icon>{{profile_strengths?.strengths_achiever.title}}
                    </li>
                    <li id="strengths5" matTooltip="{{profile_strengths?.strengths_futuristic.tooltip}}"
                        matTooltipPosition="below" aria-label="Futuristic" appTouchTooltip>
                        <mat-icon>timeline</mat-icon>{{profile_strengths?.strengths_futuristic.title}}
                    </li>
                </ul>
            </div>
        </div>
    </mat-card-header>
</mat-card>
<section class="container">
    <div class="wave"></div>
</section>