<mat-card>
    <mat-card-header>
        <div class="profile-header">
            <img src="assets/img/profile.jpg" class="profile-image">
            <div class="profile-text">
                <mat-card-title class="profile-title">Martín Julián Echeverría</mat-card-title>
                <mat-card-subtitle class="profile-role">Desarrollador Frontend SSR | Técnico Superior en Computación</mat-card-subtitle>
                <p>
                    Soy una persona que busca crecer continuamente, siempre en la búsqueda de nuevas oportunidades y
                    desafíos que me permitan expandir mis habilidades y conocimientos. Aprendo rápido y me adapto muy
                    bien a los cambios, lo que me ayuda a enfrentar situaciones inesperadas con confianza y eficacia.

                    Soy comunicativo, lo que me permite establecer relaciones sólidas y efectivas con mis compañeros y
                    clientes. Disfruto del trabajo en equipo, ya que creo que las mejores ideas surgen cuando
                    colaboramos y compartimos nuestras perspectivas. Mi enfoque es siempre positivo, buscando fomentar
                    un ambiente de trabajo armonioso y productivo. Me esfuerzo por escuchar a los demás y aportar mis
                    ideas de manera constructiva, para así lograr objetivos comunes.
                </p>
                <mat-card-subtitle class="profile-fortalezas">
                    Fortalezas
                </mat-card-subtitle>
                <ul>
                    <li matTooltip="Siempre busco aprender y adquirir nuevos conocimientos." matTooltipPosition="below"
                        aria-label="Learner">
                        <mat-icon>school</mat-icon>Learner
                    </li>
                    <li matTooltip="Me tomo en serio mis responsabilidades y cumplo con mis compromisos."
                        matTooltipPosition="below" aria-label="Responsibility">
                        <mat-icon>verified_user</mat-icon>Responsibility
                    </li>
                    <li matTooltip="Tengo la capacidad de mantenerme enfocado en mis metas y evitar distracciones."
                        matTooltipPosition="below" aria-label="Focus">
                        <mat-icon>center_focus_strong</mat-icon>Focus
                    </li>
                    <li matTooltip="Soy una persona motivada que busca alcanzar el éxito en todo lo que hago."
                        matTooltipPosition="below" aria-label="Achiever">
                        <mat-icon>check_circle</mat-icon>Achiever
                    </li>
                    <li matTooltip="Siempre pienso en el futuro y en cómo prepararme para lo que viene."
                        matTooltipPosition="below" aria-label="Futuristic">
                        <mat-icon>timeline</mat-icon>Futuristic
                    </li>
                </ul>
            </div>

        </div>
    </mat-card-header>
    <mat-card-actions>
        <button mat-button color="primary">Experiencia</button>
        <button mat-button color="primary">Estudios</button>
        <button mat-button color="primary">Cursos</button>
        <button mat-button color="primary">Referencias</button>
        <button mat-button color="primary">Contacto</button>
    </mat-card-actions>
</mat-card>