// Definición de la paleta de colores
$negro: #000000
$blanco: #FFFFFF
$azul-oscuro: #1E3A8A
$gris-oscuro: #4B5563
$azul-claro: #93C5FD
$gris-claro: #D1D5DB
$gris-super-claro: #F3F4F6
$azul-suave: #60A5FA

mat-card
  border-top-left-radius: 0
  border-top-right-radius: 0
  background-color: $blanco
  width: 100% // Evita que el contenido se desborde
  box-sizing: border-box // Asegura que no se corte
  padding: 32px // Espaciado interno
  background-image: url('/assets/img/background.png') // Agrega una imagen de fondo
  background-size: cover // Ajusta la imagen al tamaño del contenedor
  background-position: right // Centra la imagen
  background-repeat: no-repeat // Evita que la imagen se repita
  background-size: 50% // Ajusta el tamaño de la imagen de fondo
  
.profile-header
  user-select: none
  display: flex
  align-items: center // Centrar verticalmente la imagen y el texto
  @media (max-width: 800px)
    flex-direction: column // Cambiar la disposición a columnas en pantallas pequeñas
    text-align: center
    flex-wrap: wrap // Permitir que el contenido se acomode en varias líneas

.profile-image
  width: 400px
  height: 400px
  border-radius: 50% // Hace la imagen circular
  object-fit: cover // Para que la imagen mantenga su proporción dentro del círculo
  margin-right: 16px // Separar la imagen del texto
  margin-top: -50px // Ajustar la posición de la imagen 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2)
  @media (max-width: 800px)
    width: 300px
    height: 300px
    margin-right: 0 // Eliminar el margen derecho en pantallas pequeñas
    margin-top: 0 // Eliminar el margen superior en pantallas pequeñas
    margin-bottom: 16px // Añadir margen inferior en pantallas pequeñas

.profile-text
  display: flex
  flex-direction: column // Asegura que el título y subtítulo se apilen verticalmente
  p
    width: 50% // Limita el ancho del texto para que no se extienda demasiado
    @media (max-width: 800px)
      width: 100% // Ajusta el ancho del texto al 100% en pantallas pequeñas
      align-items: center // Centra el texto en pantallas pequeñas

ul
  list-style-type: none // Elimina los puntos de la lista
  padding: 0 // Elimina el espacio entre el borde y el texto
  display: flex // Hace que los <li> se alineen horizontalmente
  gap: 16px // Añade espacio entre los ítems (ajústalo según prefieras)
  @media (max-width: 800px)
    flex-direction: column // Cambiar la disposición a columnas en pantallas pequeñas
    align-items: center // Centrar horizontalmente los íconos y el texto

li
  display: flex // Flexbox para alinear ícono y texto en cada <li>
  flex-direction: column // Asegura que el ícono y el texto se apilen verticalmente
  align-items: center // Alinea verticalmente el icono y el texto
  gap: 8px // Añade espacio entre el icono y el texto (ajústalo según prefieras)
  background-color: $azul-claro
  border-radius: 50%
  width: 10vh
  height: 10vh
  padding: 16px // Espaciado interno para dar un efecto de botón
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), inset 0 2px 5px rgba(255, 255, 255, 0.4) // Sombra interna para el efecto de relieve
  transition: box-shadow 0.3s ease // Transición suave para la sombra
  &:hover
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), inset 0 2px 5px rgba(255, 255, 255, 0.2) // Sombra interna más sutil al pasar el mouse
    background-color: darken($azul-claro, 5%) // Oscurece el color de fondo al pasar el mouse

.profile-title
  font-size: 26px
  font-weight: bold
  color: $negro

.profile-role
  font-size: 20px
  color: $azul-suave

.profile-strengths
  font-size: 18px
  color: $negro

p
  font-size: 18px
  color: $azul-oscuro

mat-card-actions
  display: flex
  justify-content: center // Centra los botones horizontalmente
  gap: 16px // Añade espacio entre los botones (ajústalo según prefieras)
  margin-top: 30px // Añade margen superior a los botones
  button
    background-color: $azul-oscuro
    color: $blanco
    border: none
    padding: 8px 16px
    border-radius: 4px
    cursor: pointer
    transition: background-color 0.3s ease // Transición suave para el color de fondo
    &:hover
      background-color: darken($azul-claro, 10%) // Oscurece el color de fondo al pasar el mouse
